* {
  margin: 0px;
  paddin: 0px; }

body {
  background-color: #5f7470;
  font-family: courier new; }

.navbar {
  background-color: #d2d4c8; }

.navbar a {
  text-decoration: none;
  color: #5f7470;
  padding: 10px 15px;
  text-align: center;
  display: inline-block; }

.current {
  background-color: #b8bdb5; }

.webpage {
  display: flex;
  justify-content: start; }

.sidebar,
.main-content {
  padding: 10px;
  margin: 10px;
  color: #555e5e; }

.sidebar {
  width: 250px;
  min-width: 250px;
  height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  line-height: 1.6; }

.sidebar a:link, a:visited {
  color: #5f7470; }

.main-content {
  width: 60%;
  min-width: 500px;
  height: 150vh;
  line-height: 1.6; }

.post a:link, a:visited {
  color: #5f7470; }

.frame {
  background-color: #d2d4c8;
  min-width: 40%;
  width: 95%;
  border: 2px solid #889696;
  padding: 10px;
  box-shadow: 5px 6px; }

.frame a:link, a:visited {
  color: #5f7470; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 18px; }

p {
  font-size: 16px; }

ul {
  font-size: 16px;
  list-style-type: circle; }
